*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    // font-family: 'Roboto Slab', serif;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
}

.logo {
    margin-left: 16px;
}

.phone {
    margin-top: 11px;
    margin-right: 43px;
}

.menu {
    margin-top: 16px;
}

.menu__list {
    display: flex;
}

.menu__item + .menu__item {
    margin-left: 30px;
}

.menu__link {
    color: #001E64;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.menu__link:hover {
    border-bottom: 1px solid #001E64;
}

.header__content {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-family: 'Roboto Slab', serif;
    color: #001E64;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    max-width: 589px;
    padding-top: 200px;
    padding-left: 112px;
    margin-bottom: 130px;
}

.header-slider {
    max-width: 522px;
    padding-left: 112px;
    padding-top: 57px;
    padding-bottom: 135px;
}

.header-slider__text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.slick-prev,
.slick-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 40px;
}

.slick-prev {
    top: 0;
}

.slick-next {
    bottom: 0;
}

.slick-dots {
    list-style: none;
    position: absolute;
    left: 35px;
    top: 56px;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots button {
    border: none;
    background-color: transparent;
    padding: 0;
    color: #fff;
    line-height: 28px;
    font-size: 24px;
    opacity: 0.5;
    cursor: pointer;
}

.slick-active button {
    opacity: 1;
}

.slick-dots button::before {
    content: '0';
}

.slick-dots li:nth-child(n + 10) button::before {
    content: '0';
}

 .header__content-btn {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    padding: 14px 88px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.5);
    margin-left: 112px;
    display: inline-block;
    transform: translateY(-100px);
 }